* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;

    background-color: steelblue;
}

.main {
    margin-top: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 60%;

    background-color: lightsteelblue;
}

.main > form {
    width: 60%;
}

.application_form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.application_form > p {
    margin: 0;
}

.application_form > input {
    margin-bottom: 10px;
}

.application_form > button {
    margin-top: 10px;
}

.message {
    display: flex;
    flex-direction: column;
    align-self: center;
}