* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;

    background-color: steelblue;
}

.main {
    display: flex;
    flex-direction: column;

    margin-top: 1%;
    background-color: lightsteelblue;
}

.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid steelblue;
}

.options {
    display: flex;
    flex-direction: row;
    height: 15%;
    margin-top: 1%;
    border-bottom: 2px solid steelblue;
}

.filter_city > select > option[data-selected="true"] {
    background-color: steelblue;
    color: white;
}

.application {
    display: none;
    margin-top: 1%;
}

.application_show {
    display: flex;
    flex-direction: column;
    width: 90%;
    background-color: lightsteelblue;
    border-left: 2px solid steelblue;
    border-right: 2px solid steelblue;
    border-bottom: 4px solid steelblue;
}

.application_show > p {
    margin: 0;
}

.application_show > button {
    width: 30%;
}

.application_form {
    display: none;
    margin-top: 1%;
}

.application_form_show {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 90%;
    background-color: lightsteelblue;
}

.application_form_show > p {
    margin: 0;
}

.application_form_show > input {
    width: 70%;
    margin-bottom: 1%;
}

.application_form_show > button {
    margin-top: 1%;
    margin-bottom: 2%;
}

.applications {
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    align-items: center;
    align-self: center;
    width: 90%;

    height: 100%;

    background-color: steelblue;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 2px solid steelblue;
    height: 7%;
    width: 100%;
}

.pagination li {
    display: inline;
    list-style-type: none;
}