* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: steelblue;
}

.main {
    margin: 5%;

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 30%;

    background-color: lightsteelblue;
}

.login_form {
    display: flex;
    flex-direction: column;
    height: 70%;
}

.login_form > p {
    margin: 0;
    margin-bottom: 1%;
}

.login_form > input {
    margin-bottom: 5%;
}

.login_form > button {
    margin-top: 5%;
}