* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;

    background-color: steelblue;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 50%;

    margin-top: 5%;

    background-color: lightsteelblue;
    border: 2px solid black;
}

.registration_form {
    display: flex;
    flex-direction: column;
}

.registration_form > p {
    margin: 0;
    margin-bottom: 1%;
}

.registration_form > input {
    margin-bottom: 5%;
}

.registration_form > button {
    margin-top: 5%;
}
