* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;

    margin: 0;
    background-color: steelblue;
}

.body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    flex-direction: column;

    margin-top: 1%;
    width: 70%;
    height: 90%;
}

.panel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 15%;

    background-color: lightsteelblue;
}

.graph {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 3%;
    
    background-color: lightsteelblue;
}

#graph {
    width: 100%;
    height: 100%;
}